<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><i class="fa fa-circle-o-notch" aria-hidden="true"></i> Taskr</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <li class="nav-link" ><%= link_to 'Home', root_path %>
          <!-- <span class="sr-only">(current)</span></li> -->
      </li>
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Link</a> -->
        <li class="nav-link" ><%= link_to 'About', about_path %> </li>
        <li class="nav-link" ><%= link_to 'Log in', new_user_session_path %> </li>
        <% if current_user %>
          <li class="nav-link" ><%= link_to 'Account Settings', edit_user_registration_path %> </li>
          <li class="nav-link" ><%= link_to 'Log out', destroy_user_session_path, method: :delete  %> </li>
        <% end %>
      </li>

    </ul>

  </div>
</nav>
